*.Cache
*.Publish.xml
*.aps
*.build.csdef
*.csv
*.dat
*.dbmdl
*.gpState
*.gz
*.hi
*.ilk
*.log
*.meta
*.ncb
*.ncrunch*
*.o
*.obj
*.opensdf
*.out
*.pch
*.pdb
*.pgc
*.pgd
*.pid
*.psess
*.rsp
*.sbr
*.sdf
*.seed
*.sln.docstates
*.stackdump
*.suo
*.swp
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vsp
*.vspscc
*.vspx
*.vssscc
*_i.c
*_p.c
*~
.*crunch*.local.xml
.DS_Store
.builds
.cabal-sandbox/
.idea
.sass-cache
.stack-work/
.vs/
/
AppPackages/
Backup*/
ClientBin
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/buildhelp/
Generated_Code #added for RIA/Silverlight projects
Jane.Autofac/_NCrunch_Jane.Autofac/StoredText/c486af0c63604093a3b1c587dee26263
Jane/_NCrunch_Jane/
TestResults
UpgradeLog*.XML
[Bb]in
[Bb]in/
[Dd]ebug/
[Ee]xpress
[Oo]bj
[Oo]bj/
[Rr]elease/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*
_ReSharper*
_UpgradeReport_Files/
_references.js
applicationhost.config
compass_app_log.txt
csx
ipch/
lib-cov
logs
node_modules
npm-debug.log
packages
pids
publish
results
sql
target/
x64/
~$*
